<h1> Signup! </h1>
<%= form_tag "/users", method: :post do %>
  <div>
  Name: <input type="text" name="name" required="required">
  </div>
  <div>
  Email: <input type="email" name="email" required="required">
  </div>
  <div>
  Password: <input type="password" name="password" required="required">
  </div>
  <div>
  Confirm Password: <input type="password" name="password_confirmation" required="required">
  </div>
  <input type="submit" value="Submit">
  <% end %>
