<h1> Order </h1>

<p>
<%= form_tag "/orders", method: :post do %>
  <div>
    Product ID: <input type="product_id" name="product_id">
  </div>
  <div>
    Quantity: <input type="quantity" name="quantity">
  </div>
  <input type="submit" value="Save Order">
  <% end %>
</p>