<h1>New Product:</h1>

<p><%= form_tag "/products", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Supplier: <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
  </div>
  <input type="submit" value="Save Product">
<% end %>
</p>