<% if @product && @product.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<h1>New Product:</h1>

<p><%= form_tag "/products", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Supplier: <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
  </div>
  <input type="submit" value="Save Product">
<% end %>
</p>