<h1>New Image: <%= @product.name %></h1>

<p><%= form_tag "/products/#{@product.id}/images", method: :post do %>
  <div>
    Image URL: <input type="text" name="image">
  </div>
  <input type="submit" value="Create Image">
<% end %>
</p>